html {
    scroll-behavior: smooth;
}
.navbar{
  
    background-color: #D6EAF8;
}
#navbar{
    font-family: 'Encode Sans SC', sans-serif;
}
.col-12{
    padding-top: 117px;
}
.rounded:hover{
    background-color: azure;
    opacity: 0.5;
}
#reachmeid{
    padding-top: 360px;
}
.form-group{
    padding-left: 263px;
    padding-right: 288px;
}
@media only screen and (max-width: 600px) {
    .col-12{
        padding-top: 25px;
    }
    img{
        width: 300px;
        height: 300px;
    }
    .col-4{
        row:colums;
    }
    .float-left{
        padding: 10px;
    }
    .float-right{
        padding-left: 18px;
        padding-bottom: 10px;
    }
    .form-group{
        padding-left: 0;
        padding-right: 0;
    }
    #button{
        margin-left: 0;
     }
    
}
@media only screen and (max-width:320px){
    .text-center img{
        padding: 10px;
        margin-left: 2px;
    }
    .form-group{
        padding-left: 0;
        padding-right:0;
    }
    #button{
        margin-left: 0;
     }
    
}
@media only screen and (min-width:360px){
    .text-center img{
        margin-left: -22px;
        padding: 10px;
    }
    .form-group{
        padding-left: 0;
        padding-right:0;
    }
    #button{
        margin-left: 0;
     }
    
}
@media only screen and (min-width:360px){
    .text-center img{
        margin-left: -30px;
    }
    .form-group{
        padding-left: 0;
        padding-right:0;
    }
    #button{
        margin-left: 0;
     }
    
}
@media only screen and (min-width:375px){
    .float-right{
       float: left;
       margin-left: 0px;
    }
    .text-center img{
        margin-left: -41px;
        padding-right: 11px;
        padding-bottom: 10px;
    }
    .form-group{
        padding-left: 0;
        padding-right:0;
    }
    #button{
        margin-left: 0;
     }
    

}
@media only screen and (min-width: 411px) {
    .text-center img{
         margin-left: -78px;
    }
    .form-group{
        padding-left: 0;
        padding-right:0;
    }
    #button{
        margin-left: 0;
     }
    
}
@media only screen and (min-width: 720px) {
    img{
        width: 260px;
        height: 400px;
        padding-left: 0px;
    }
    .col-12{
        padding-top: 109px;
    }
    .form-group{
        padding-left: 0;
        padding-right:0;
    }
    #button{
        margin-left: 0px;
     }
    
}
@media only screen and (width: 768px) {
    .float-left{
        margin: 10px;
    }
    .text-center img{
         padding: 10px;
         margin-left: 418px;
         margin-top: -264px;
    }
    .rounded img{
        width: 300px;
        height: 300px;
    }
    #portfolioid img{
        width: 200px;
        height: 200px;
    }
    .form-group{
        padding-left: 212px;
        padding-right: 202px;
    }
    #button{
        margin-left: 200px;
     }
    
}
@media only screen and (min-width: 768px){
    img{
        width: 220px;
        height: 320px;
    }
    .col-12{
        padding-top: 50px;
    }
    .form-group{
        padding-left: 92px;
        padding-right: 114px;
    }
    #button{
        margin-left: 280px;
     }
    
}
@media only screen and (min-width: 1024px){
    img{
        width: 300px;
        height: 300px;
    }
    .col-12{
        padding-left: 50px;
        padding-top: 50px;
    }
    .rounded{
        padding: 10px;
    }
    .rounded img{
        width: 200px;
        height: 300px;
    }
    #portfolio img{
        width: 300px;
        height: 200px;
    }
    .text-center img{
       
    margin-top: -330px;
    margin-left: 588px;

        
    }
    .form-group{
    padding-left: 212px;
    padding-right: 202px;
    }
    #button{
        margin-left: 427px;
     }
}
@media only screen and (min-width: 1200px){
    .float-left{
        margin-right: 50px;
    }
    #portfolio img{
        width: 300px;
        height: 300px;
    }
    .form-group{
        padding-left: 300px;
        padding-right:300px;
    }
    #button{
   margin-left: 500px;
  }
}
.col-4{
    display: flex;
    justify-content: space-around;
    
}
.fab{
    padding:10px;
}